{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<div class="add-recipe">
    <div class="page-header">
        <h2>Add a New Recipe</h2>
    </div>

    <form action="{{ url_for('recipes.add_recipe') }}" method="post">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form.csrf_token }}
                <dl>
                    {{ render_field(form.recipe_title, class="form-control",  placeholder="Enter Recipe Title") }}
                    {{ render_field(form.recipe_description, class="form-control",  placeholder="Enter Recipe Description") }}
                </dl>
                <button class="btn btn-primary" type="submit">Add Recipe</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}