# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac custom attributes file ( Desktop Service Store)
.DS_Store

# VS Code files
.vscode/

# virtual environment
venv/

# Instance Folde - used for configuration parameters
instance/
